    button {
        width: 24%;
        height: 80px;
        margin-bottom: 2px;
        display: inline;
    }

    .left {
        left: 75%;
    }

    .middleLeft {
        left: 50%;
    }

    .middleRight {
        left: 25%;
    }

    .right {
        left: 0%;
    }

    .top {
        border: 1px solid black;
        width: 96.65%;
        text-align: end;
        margin-bottom: 2px;
    }