    button {
        width: 24%;
        height: 80px;
        margin-bottom: 2px;
        display: block;
    }

    .left {
        left: 75%;
    }

    .middleLeft {
        position: relative;
        left: 24.2%;
        bottom: 328px;
    }

    .middleRight {
        position: relative;
        left: 48.4%;
        bottom: 738px;
    }

    .right {
        position: relative;
        left: 72.6%;
        bottom: 1148px;
    }

    .output {
        border: 1px solid black;
        width: 96.45%;
        text-align: end;
        margin-bottom: 2px;
    }
    .top {
        width: 96.5%;
        text-align: end;
        margin-bottom: 2px;
        color: gray;
    }